/*
  File name:  
  Name:       Ruolan Wang
  StudentID:  301269755
  Date:       Oct 9, 2023
*/

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #E9ECEF;
}
