<div class="justify-content-center p-3">
    <div>
      <p class="h5 text-center fs-2 text-capitalize"><%= title %></p>
    </div>
    <div class="justify-content-center container text-bg-light w-75 p-3">