<!-- footer -->
    </div>
</div>
<footer>
    <div>
        <p class="text-center fst-italic fs-6 fixed-bottom">
            <span>&copy;&nbsp;Ruolan Wang</span>
            <a href="mailto:rwang89@my.centennialcollege.ca">E-mail</a>
        </p>
    </div>
</footer>